.login-form {
	width: 340px;
	margin: 50px auto;
	font-size: 15px;
}
.login-form form {
	margin-bottom: 15px;
	background: #f7f7f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.login-form h2 {
	margin: 0 0 15px;
}
.form-control, .btn {
	min-height: 38px;
	border-radius: 2px;
}

.product .name {
	text-align: center;
	padding-bottom: 6px;
	border-bottom: 1px solid #ddd;
}

.product .code {
	display: inline-block;
	font-size: 0.8em;
	margin: 11px 0 16px;
}

.product {
	position: relative;
}

.product .price {
	position: absolute;
	left: 0px;
	top: 10px;
	background: #b2f6f5;
	font-size: 12pt;
	color: #5bcc3f;
	font-weight: bold;
	padding: 5px 10px 5px 5px;
}

.product .name,
.product .list-group-item {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.product .thumbnail {
	position: relative;
}

.product .desc {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0.87;
	text-align: justify;
	background: #FFF;
	padding: 7px;
	display: none;
}

.product .cell {
	text-align: center;
	display: table;
	width: 100%;
	height: 100%;
}

.product .cell p{
	vertical-align: middle;
	display: table-cell;
}

.product .desc .title {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 5px;
	display: block;
}

.product .thumbnail:HOVER .desc {
	display: block;
}

.list-group {
	margin: 0;
}

.col-xlg-2 {
	position: relative;
	min-height: 1px;
	padding: 0 15px;
}

@media (min-width: 1600px) {
	.col-xlg-2 {
		float: left;
		width: 16.6667%;
	}
}

footer {
	padding-top: 20px;
	width: 100%;
	height: 60px;
	background: #F5F5F5;
	margin-top: 20px;
}

.panel-success .panel-heading {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	background-image: -webkit-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
	background-image:      -o-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8), to(#d0e9c6));
	background-image:         linear-gradient(to bottom, #dff0d8 0%, #d0e9c6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffd0e9c6', GradientType=0);
	background-repeat: repeat-x;
}

.more-options {
	text-align: center;
	margin-top: 10px;
}

.more-options a{
	cursor: pointer;
}

.xs-option-container {
	margin: 10px 0;
}

.xs-option-container a {
	cursor: pointer;
	text-decoration: none;
}

@media (min-width: 767px) {
	#findProducts,
	#productCatalog,
	#filtersCatalog {
		display: block;
	}
}

.shopping-cart-desc {
	padding: 15px;
}

.shopping-cart-desc .btn{
	margin-top: 10px;
}

.navbar-right.sign-in {
	margin-right: 10px;
}

img.small {
	max-height: 80px;
	margin:0 auto;
	display: block;
}

.adv-chars {
	margin-bottom:15px;
}

@media print {
	.product .desc {
		position: static;
		display: block;
		border-top: 1px solid #ddd;
		overflow: hidden;
		height: 160px;
		text-overflow: ellipsis;
	}
	.product .price {
		position: static;
		float: right;
	}
	main {
		width: 100% !important;
	}
}

